<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<title>여행 리스트 | 투게더투어</title>
	<link rel="stylesheet" href="../../css/trip/trip_plan_list.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>

<body>
	<div class="wrapper">
		<!--S:header-->

		<header class="header">
			<div class="inner clear-fix">
				<h1 class="logo">
					<a href=""><img src="../../images/logo-o.png"></a>
				</h1>
				<ul class="util">
					<li><a href="">로그인</a></li>
					<li><a href="">회원가입</a></li>
					<li><a href="">마이페이지</a></li>
				</ul>
				<br clear="both">
				<nav class="navi">
					<h2 class="blind">메인메뉴</h2>
					<ul class="main-menu clear-fix">
						<li><a href="" class="menu-item">여행일정</a>
							<ul class="sub-menu">
								<li><a href="views/trip_plan/ToTo_TripPlanList.html">여행 리스트</a></li>
								<li><a href="views/trip_plan/ToTo_TripPlanWrite.html">일정 등록하기</a></li>
							</ul>
						</li>
						<li><a href="" class="menu-item">동행자 찾기</a></li>
						<li><a href="" class="menu-item">한국인 가이드 찾기</a></li>
						<li><a href="" class="menu-item">여행 후기 &amp; 팁</a></li>
						<li><a href="" class="menu-item">나눔</a></li>
						<li><a href="" class="menu-item">Q &amp; A</a></li>
					</ul>
				</nav>
			</div>
		</header>

		<script>
			$(function() {
				/* 고정헤더 */
				$(".header").each(function() {
					var $window = $(window),
						$header = $(this),
						headerOffsetTop = $header.offset().top; // 헤더의 기본 위치

					// 윈도우 스크롤 이벤트를 모니터링
					$window.on('scroll', function() {
						// 윈도우 스크롤 양 확인
						// 헤더의 기본 위치를 벗어나면 class 속성값 변경
						// 기본 위치로 돌아오면 class 속성값 삭제
						if ($window.scrollTop() > headerOffsetTop) {
							$header.addClass('sticky');
						} else {
							$header.removeClass('sticky');
						}

					});

					// 윈도우 스크롤 이벤트를 강제로 발생시킴(헤더의 초기 위치 조정)
					$window.trigger('scroll');
				});

				/* 메뉴 */
				var $sub = $('.sub-menu'),
					$menu = $('.main-menu li');
				// 모든 서브 메뉴는 숨긴다.
				$sub.hide();

				// mouseenter된 서브는 연다
				$menu.hover(function() {
					$(this).find('.sub-menu').show().css({
						height: '0%'
					}).stop().animate({
						height: '100%'
					}, 300);
					$(this).find('a:first').addClass('is-act');
				}, function() {
					$(this).find('.sub-menu').stop().animate({
						height: '0%'
					}, 300, function() {
						$(this).hide();
					});
					$(this).find('a:first').removeClass('is-act');
				});

			});

		</script>

		<!--E:header-->
		<div class="contents">
			<h2><span>여행 리스트</span></h2>
			<form>
				<fieldset>
					<legend>국가 및 여행날짜 검색</legend>
					<table class="first">
						<caption>정렬 순서, 여행 국가별, 여행 날짜별 검색</caption>
						<col>
						<col>
						<tbody>
							<tr>
								<th>정렬 순서</th>
								<td>
									<button class="is-act">최근 출발일</button>
									<button>최신 등록순</button>
								</td>
							</tr>
							<tr>
								<th>여행 국가</th>
								<td>
									<select>
										<option>국내</option>
										<option>해외</option>
									</select>
									<select>
										<option>---국가---</option>
										<option>대한민국</option>
										<option>프랑스</option>
										<option>영국</option>
										<option>싱가폴</option>
									</select>
									<select>
										<option>---지역---</option>
										<option>제주도</option>
										<option>경주</option>
										<option>전주</option>
										<option>속초</option>
									</select>

								</td>
							</tr>
							<tr>
								<th>여행 날짜</th>
								<td>
									<input type="date"> ~ <input type="date">
								</td>
							</tr>
							<tr>
								<td colspan="2"><button class="confirm">검색</button></td>
							</tr>
						</tbody>
					</table>
				</fieldset>

			</form>
			<table class="second">
				<caption>여행 리스트</caption>
				<col class="first">
				<col class="second">
				<col class="third">
				<col class="fourth">
				<thead>
					<tr>
						<th>제목</th>
						<th>여행구분</th>
						<th>여행국가</th>
						<th>조회수</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><figure><img src="http://placehold.it/50x50">KH</figure><br>
							<strong>내 여행</strong>
							2020 1월 15일 목요일 ~ 2020 1월 20일 토요일 (3 Days)<br>
							혼자여행합니다<br>
							[식도락]
						</td>
						<td>홀로여행</td>
						<td>제주도</td>
						<td>2</td>
					</tr>
					<tr>
						<td colspan="4"><button class="confirm">일정 등록하기</button></td>
					</tr>
				</tbody>
			</table>

		</div>

		<!--S:footer-->
		<footer class="footer clear-fix">
			<div class="footer-logo">
				<img src="../../images/logo-g.png">
			</div>
			<div class="footer-text">
				<p>강남지원 1관 : 서울특별시 강남구 테헤란로14길 6 남도빌딩 2F, 3F, 4F, 5F</p>
				<p>같이가조 | 조장 : 박유정 | 조원 : 김동현 김관호 곽한솔 김경진</p>
				<p>Copyright &copy; 1998-2020 KH Information Educational Institute All Right Reserved</p>
			</div>
			<div class="footer-menu">
				<ul>
					<li><a href="">서비스소개</a></li>
					<li><a href="">문의하기</a></li>
					<li><a href="">불편신고</a></li>
				</ul>
			</div>
		</footer>
		<!--E:footer-->
	</div>
</body>

</html>
