<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>여행 스케쥴 확인 | 투게더투어</title>
	<link rel="stylesheet" href="../../css/trip/trip_plan_view.css">
</head>
<body>
	<div class="contents">
		<h2><span>여행 스케쥴 확인</span></h2>
		<div class="profile">
			<img src="http://placehold.it/50x50">KH
		</div>
		<hr>
		<table>
			<caption>여행 일정 확인</caption>
			<col>
			<col>
			<tbody>
				<tr>
					<th>제목</th>
					<td><strong>여행 제목</strong></td>
				</tr>
				<tr>
					<th>여행기간</th>
					<td>2020.01.20 ~ 2020.01.30</td>
				</tr>
				<tr>
					<th>여행지역</th>
					<td>국내 - 제주도</td>
				</tr>
			</tbody>
		</table>
		<hr>
		<div class="btn-group">
			<button class="is-act">1일차</button>	
			<button>2일차</button>	
			<button>3일차</button>
		</div>
		<div class="memo-view"></div>
	
</body>
</html>