<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>여행 스케쥴 만들기 | 투게더투어</title>
	<link rel="stylesheet" href="../../css/trip/trip_plan_write.css">
</head>
<body>
	<div class="contents">
		<h2><span>여행 스케쥴 만들기</span></h2>
		<form>
			<fieldset>
				<legend>여행 스케쥴 만들기</legend>
				<div class="profile">
					<img src="http://placehold.it/50x50">KH
				</div>
				<hr>
				<table class="first">
					<caption>여행 일정 등록</caption>
					<col>
					<col>
					<tbody>
						<tr>
							<th>제목</th>
							<td>
								<input type="text">
							</td>
						</tr>
						<tr>
							<th>여행기간</th>
							<td>
								<input type="number" min="1"><br>
								여행 기간이 정해지지 않았다면 대략적인 기간을 입력해 주세요.(추후 변경 가능)
							</td>
						</tr>
						<tr>
							<th>출발일</th>
							<td>
								<input type="date"><br>
								출발일이 정해지지 않았다면 대략적인 날짜를 표시해 주세요.(추후 변경 가능)
							</td>
						</tr>
						<tr>
							<th>여행지역</th>
							<td>
								<select>
									<option>국내</option>
									<option>해외</option>
								</select>
								<select>
									<option>---국가---</option>
									<option>대한민국</option>
									<option>프랑스</option>
									<option>영국</option>
									<option>싱가폴</option>
								</select>
								<select>
									<option>---지역---</option>
									<option>제주도</option>
									<option>경주</option>
									<option>전주</option>
									<option>속초</option>
								</select>
							</td>
						</tr>
					</tbody>
				</table>
				<hr>
				<div class="memo">
					<div>
						<button class="is-act">1일차</button>	
						<button>2일차</button>	
						<button>3일차</button>	
					</div>
					<textarea class="memo-write" placeholder="1일차 메모"></textarea>
					<button class="memo-btn">메모저장</button>
				</div>
				<div class="memo-view">
					<div></div>
				</div>
				<br clear="both">
				<hr>
				<div class="confirm-box">
					<button class="confirm">여행 일정 등록하기</button>
				</div>	
			</fieldset>
		
		</form>
	</div>
</body>
</html>