@charset "UTF-8";

@import url("reset.css");
@import url("common.css");


table{border-top:1px solid; width:100%; border-collapse:collapse; }

th{ font-family:'맑은 고딕'; border:1px solid black;}
	
td{border:1px solid black; height:50px;  padding-left:10px;}

#gInsertForm{margin-bottom:100px;}

.user{align:center;}
	
.enrollBtn{align:center; background:skyblue;}
	
.editBtn{background:skyblue;}

.contents{width:100%; margin-left:auto; margin-right:auto;}

#insertbuddy{width:100%; margin-left:auto; margin-right:auto;}

h2{text-align:center;}	


	fieldset, legend {
		text-align : center;
	}