@charset "UTF-8";

@import url("reset.css");
@import url("common.css");


table{border-top: 1px solid black; width:50px;
	  border-collapse:collapse;
	  /* margin-left:auto; margin-right:auto; */
	  color:red;}
	
th,td{border-bottom: 1px solid black; height:50px;}

td{text-align:center;}
#search{margin-left:640px;}
	
.wrapper{width:70%; margin-left:auto; margin-right:auto;}

.buddyDetail{width:70%; margin-left:50px; margin-right:auto;}

/* h2{text-align:center;} */