@charset "utf-8";

@import url("reset.css");
@import url("common.css");

.first {
	margin-bottom : 70px;
	border-top : 1px solid #cbcbcb;
}
.first th, .first td{
	border-bottom : 1px solid #cbcbcb;
}

.first tr:last-child th, .first tr:last-child td{
	border-bottom : none;
	text-align : center;
}
.confirm {
	background : #00749d;
	color : #d5e1e9;
}
.second th, .second td{
	border-bottom : 1px solid #cbcbcb;
}
.second {
	margin-bottom : 70px;
}
.second tbody td {
	text-align : center;
}
.second tbody > tr > td:first-child {
	text-align : left;
	padding-left : 0;
	line-height : 1.8;
}

.second tbody > tr > td:first-child > img {
	margin-right : 10px;
	margin-bottom : -2px;
	
}