<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>가이드 등록하기</title>
<style>
 	h2{float:left;}
 	nav{line-height:70px;}
 	#img{text-align:center;}
 	table{border:1px solid black; width:90%; 
 		  border-collapse:collapse;
 		  margin-left:auto;
 		  margin-right:auto;
 		  }
 	td{border-bottom:1px solid black; height:50px;}
 	#button{text-align:center;}
 	form{text-align:center;} 
</style>
</head>
<body>
	<h2>가이드 등록&nbsp;&nbsp;&nbsp;</h2>
	<nav>가이드로 등록하실 수 있습니다.</nav>
	<hr>
	
	<br clear="both"><br>
	<div id=img>
		<img src="sample/image/city1.PNG" width=100px height=100px>
		<br>
		<input type=file accept=.jpg value="업로드">
	</div>
	
	<br><br>
	<table>
		<tr>
		<td>가이드명</td>
		<td> <input type=text></td>
		</tr>
		<tr>
		<td>활동장소</td>
		<td>
		<select name=분류>
			<option>국내</option>
			<option>해외</option>
		</select>
		<select name=국가>
			<option>한국</option>
			<option>미국</option>
			<option>중국</option>
			<option>일본</option>
			<option>프랑스</option>
			<option>이탈리아</option>
			<option>영국</option>
			<option>호주</option>
			<option>러시아</option>
		</select>
		<select name=도시>
			<option>제주도</option>
			<option>뉴욕</option>
			<option>상해</option>
			<option>도쿄</option>
			<option>파리</option>
			<option>로마</option>
			<option>런던</option>
			<option>시드니</option>
			<option>모스크바</option>
		</select>
		</td>
		</tr>
		<tr>
			<td>여행테마</td>
			<td>
			<input type=checkbox name=여행테마 value=휴식><label>휴식</label>
			<input type=checkbox name=여행테마 value=관광><label>관광</label>
			<input type=checkbox name=여행테마 value=식도락><label>식도락</label>
			<input type=checkbox name=여행테마 value=쇼핑><label>쇼핑</label>
			<input type=checkbox name=여행테마 value=공연/예술><label>공연/예술</label>
			<input type=checkbox name=여행테마 value=기타><label>기타</label><input type=text>
			</td>
		</tr>
		<tr>
			<td>가격</td>
			<td><input type=text></td>
		</tr>
		<tr>
			<td>성별</td>
			<td>
			<input type=radio value=남자><label>남자</label>
			<input type=radio value=여자><label>여자</label>
			</td>
		</tr>
		<tr>
			<td>연락처</td>
			<td>
			<input type=text>
			</td>
		</tr>
	</table>
	<br>
	<form>
		<h4>여행소개</h4>
		<textarea rows=50 cols=200>내용입력</textarea>
	</form>
	<br>
	<div id=button>
	<button type=submit>등록하기</button>
	</div>
	
</body>
</html>