<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>가이드상세조회</title>
	<style>
	 	h2{float:left;}
	 	nav{line-height:70px;}
	 	#img{text-align:center;}
	 	table{border:1px solid black; width:90%; 
	 		  border-collapse:collapse;
	 		  margin-left:auto;
	 		  margin-right:auto;
	 		  }
	 	td{border-bottom:1px solid black; height:50px;}
	 	#button{text-align:center;}
	 	form{text-align:center;} 
	</style>
</head>
<body>
	<h2>가이드 정보</h2>
	<hr>
	
	<br clear="both"><br>
	<div id=img>
		<img src="sample/image/city1.PNG" width=100px height=100px>
	</div>
	
	<br><br>
	<table>
		<tr>
			<td>가이드명</td>
			<td></td>
		</tr>
		<tr>
			<td>활동장소</td>
			<td>국가 &nbsp;&nbsp;&nbsp;&nbsp;지역</td>
		</tr>
		<tr>
			<td>여행테마</td>
			<td>
			<label>휴식</label>
			<label>관광</label>
			<label>식도락</label>
			<label>쇼핑</label>
			<label>공연/예술</label>
			<label>기타</label>
			</td>
		</tr>
		<tr>
			<td>가격</td>
			<td></td>
		</tr>
		<tr>
			<td>성별</td>
			<td></td>
		</tr>
		<tr>
			<td>연락처</td>
			<td></td>
		</tr>
	</table>
	<br>
	<form>
		<h4>여행소개</h4>
		<iframe width=90% height=500px>
			<!--  -->
		</iframe>
	</form>
	<br>
	<div id=button>
		<button type=submit>신청하기</button>
	</div>
</body>
</html>